
.header {
  padding: 20px 25px;
  position: relative;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuWrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

.title {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-right: 32px;
}
