.buttonWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 100px;
  width: max-content;
  height: max-content;
}

.gradientButton {
  background: 
        linear-gradient(var(--body-color), var(--body-color)) padding-box,
        linear-gradient(60deg, #0057B8, #FFD700) border-box;
  border: 2px solid transparent;
  border-radius: 100px;
  padding: 20px;
  width: 293px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  cursor: pointer;
}

.gradientButton::after {
  content: '';
  background: 
        linear-gradient(60deg, #0057B8, #FFD700) padding-box,
        linear-gradient(60deg, #0057B8, #FFD700) border-box;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  position: absolute;
  transform: translateY(100%);
  transition: .9s;
}

.gradientButton:hover::after {
  transform: translateY(0);
}

.gradientButton > * {
  text-align:center;
  color: var(--secondary-text-color);
  background-image: linear-gradient(to right, var(--secondary-text-color), var(--secondary-text-color) 33.33333%, #0057B8 66.66666%, #FFD700);
  -webkit-background-clip: text;
  background-position: top left 100%;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  transition: all 2s ease-in-out;
}


.gradientButton:hover > * {
  z-index: 2;
  background-position: top left;
}

@media screen and (max-width: 576px) {
  .buttonWrapper {
    width: 100px;
    height: 100px;
  }
  .gradientButton {
    width: 100px;
    height: 100px;
  }

  .gradientButton::after {
    width: 100px;
    height: 100px;
  }
}
