.hero {
  font-family: 'Tenor Sans', serif;
  font-size: 115px;
  line-height: 115px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 96px;
}

.heroWrapper {
  padding-bottom: var(--hero-image-height);
  background-image: url(/images/hero-img.png);
  background-repeat: no-repeat;
  background-size: auto var(--hero-image-height), cover;
  background-position: center bottom;
  position: relative;
}

.linksWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  gap: 48px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 152px;
}

.contentRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.contentTitle {
  white-space: nowrap;
  letter-spacing: 0.03em;
}

.link {
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 6px;
  background-color: var(--orange-color);
  transform-origin: left; 
  transition: width .5s ease-in; 
}


.link:hover::after {
  width: 100%; 
}

.link, .buttonLink {
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
}

.buttonLink {
  font-family: 'Commissioner', serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 19.5px;
  letter-spacing: 0.05em;
  transition: .9s;
}

.caption {
  font-family: 'Commissioner', serif;
  font-size: 15px;
  line-height: 19.5px;
  font-weight: 600;
  letter-spacing: 0.05em;
  position: absolute;
  top: 100%;
  left: 407px;
}

.circleContainer {
  position: absolute;
  left: 50%;
  bottom: var(--hero-image-height)
}

.animatedCircle {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid transparent;
}

.circleContainer .animatedCircle:nth-child(1){
  animation: growCircle1 1500ms infinite ease-in-out;
}

.circleContainer .animatedCircle:nth-child(2) {
  animation: growCircle2 1500ms infinite ease-in-out;
}

.circleContainer .animatedCircle:nth-child(3) {
  animation: growCircle3 1500ms infinite ease-in-out;
}

@keyframes growCircle1 {
  0% {
    width: 30px;
    height: 30px;
    border-width: 1px;
    border-color: var(--orange-color);
    opacity: 100%;
  }
  60% {
    width: 30px;
    height: 30px;
    border-width: 1px;
  }
  60% {
    opacity: 100%;
    border-color: var(--orange-color);
  }
  100% {
    width: 170px;
    height: 170px;
    border-width: 6px;
    opacity: 0;
    border-color: transparent;
  }
}

@keyframes growCircle2 {
  0% {
    width: 30px;
    height: 30px;
    border-width: 0;
    border-color: transparent;
    opacity: 100%;
  }
  30% {
    width: 30px;
    height: 30px;
    border-color: transparent;
    border-width: 1px;
  }
  40% {
    border-color: var(--orange-color);
  }
  60% {
    opacity: 100%;
    border-color: var(--orange-color);
  }
  100% {
    width: 170px;
    height: 170px;
    border-width: 6px;
    opacity: 0;
    border-color: transparent;
  }
}

@keyframes growCircle3 {
  0% {
    width: 30px;
    height: 30px;
    border-width: 0;
    border-color: transparent;
    opacity: 100%;
  }
  50% {
    width: 30px;
    height: 30px;
    border-color: transparent;
    border-width: 1px;
  }
  60% {
    border-color: var(--orange-color);
  }
  60% {
    opacity: 100%;
    border-color: var(--orange-color);
  }
  100% {
    width: 170px;
    height: 170px;
    border-width: 6px;
    opacity: 0;
    border-color: transparent;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    font-size: 55px;
    line-height: 55px;
    padding-top: 42px;
  }

  .caption {
    left: auto;
    right: 17px;
    top: 55px;
  }
  
  .contentRow {
    flex-wrap: wrap;
  }

  .contentRow:first-child {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .contentRow:first-child .contentTitle {
    white-space: normal;
    width: min-content;
  }

  .contentRow:last-child > div {
    margin-top: 60px;
  }
}