@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;600&family=Tenor+Sans:wght@400;600&display=swap');
@import url(./assets/css/variables.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Commissioner', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: var(--text-color);
  background-color: var(--body-color);
}

h2 {
  font-family: 'Tenor Sans', serif;
  font-weight: 400;
  font-size: 115px;
  line-height: 115px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin: 0;
}

h3 {
  font-family: 'Tenor Sans', serif;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin: 0;
}

button {
  border: none;
  background: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}