.navBar {
  display: flex;
  gap: 32px;
}

.navLink {
  text-decoration: none;
  font-family: 'Commissioner', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--text-color);
}